{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    <img class="header-text" src="static/images/contact.png" alt="Contact">

    <p> This website was made by Elise van Iterson </p>
    <p> Email: elise.v.iterson@gmail.com  </p>

    <div class="contact-icons">
        <a class="linkedin-icon" href="https://www.linkedin.com/in/elise-van-iterson-2639b7202/">
            <img src="static/images/linkedin-icon.png">
        </a>
        <a class="github-icon" href="https://github.com/minprog-platforms/project-11907223">
            <img src="static/images/github.png">
        </a>
    </div>

{% endblock %}